body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.endedSeries {
  color: #E31864
}

.panel-borderless {
  border: 0;
  box-shadow: none;
}

.clickable {
  cursor: pointer;
}
.glyphicon-minus {
  color: #F00; 
}

.img-circle 
{
    height : 50px;
    width : 50px;
}
.btn.btn-default.loginPicture {
  border-width: 0;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}

.glyphicon.fast-right-spinner {
  -webkit-animation: glyphicon-spin-r 1s infinite linear;
  animation: glyphicon-spin-r 1s infinite linear;
}


@keyframes glyphicon-spin-r {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

@-webkit-keyframes glyphicon-spin-r {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}
/*
.row [class*='col-'] {
  background-color: #ffeeee;
  background-clip: content-box;
  min-height: 20px;
}
*/
.episodeList {
  border:none !important;
  padding:0px !important;
  margin: 0px !important;
}
.episodeList-collapse.collapse.in {
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  border-color: #ddd;  
  margin: 10px;
}

.episodeList-body {
  padding:15px;
}

.list-group-item{
  padding:0px !important;
  margin:0px !important;
  border-top: 0px !important;
}

.row-match-my-cols {
  display: flex;
  flex-direction: row;
}

.row-match-my-cols > [class^="col-"],
.row-match-my-cols > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: left;

}

.episodeTitle {
  padding-left:10px;
  padding-right:10px
}

.episodeWatched {
  color: grey;
}

.mainLayout.row {
  margin-top: -20px;
  margin-bottom: 20px;
}

.mainLayout.row > [class^="col-"], .mainLayout.row > [class*=" col-"]  {
  margin-top: 20px;
}

.favList {
  margin-top: 0px;
}

h1 {
  font-size: 2.9vw !important;
  margin:0 !important;
  font-weight: bold !important;
  color: #2e6da4 !important;
}